.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  background-color: white;
  border: 2px black solid;
  border-radius: 20px;
  display: flex;
  margin-bottom: 0;
  padding: 0 20px;
  width: fit-content;
}

.pokemon {
  align-items: center;
  background-color: whitesmoke;
  border: 2px black solid;
  border-radius: 10px;
  display: flex;
  flex: 1 1 24%;
  flex-direction: column;
  margin: 10px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.pokedex section:hover {
  background-color: gainsboro;  
}
