html {
  background-color: grey;
}

.app-header {
  align-items: center;
  background-color: gray;
  color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  font-size: 30px;
  justify-content: space-around;
  min-height: 50px;
  padding: 10px 0;
}

.form-table {
  align-items: center;
  background-color: black;
  color: #20db99;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 22px 5px;
}

.edit-table {
  align-items: center;
  background-color: orangered;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 22px 5px;
}

label {
  text-align: center;
}

button {
  border-radius: 5px;
}

.form-table input , select {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-left: 5px;
  width: 120px;
}

.edit-table input , select {
  background-color: whitesmoke;
  border-radius: 5px;
  margin-left: 5px;
  width: 120px;
}

.expenses-table {
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.expenses-table table , th , td {
  align-self: stretch;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 5px;
  text-align: center;
  transition: 0.5s;
}

.button-box {
  display: flex;
}

.GButton {
  background-color: #20db99;
}

.YButton {
  background-color: orange;
}

.RButton {
  background-color: crimson;
}

table td:hover {
  background-color: #282c34;
  color: #20db99;
  opacity: 0.8;
}
