* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abstract-style {
  width: 100%;
}

.box-style {
  background-color: rgb(246, 247, 248);
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  margin: 40px auto;
  padding: 50px;
  width: 80%;
}

.cabecalho {
  text-align: center;
}

.conteudo-linha {
  margin: 10px;
}