* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abstract-style {
  width: 100%;
}

.box-style {
  background-color: rgb(246, 247, 248);
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  margin: 30px auto;
  padding: 30px;
  width: 40%;
}

.cabecalho {
  margin-bottom: -10px;
  text-align: center;
  width: 50%;
}

.conteudo-linha {
  margin: 10px 20px;
}

.lado-a-lado {
  display: inline;
}